<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
  <title>@Organisation.Instance.Name AI</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
  <link rel="stylesheet" href="/css/site.css" />
  @await RenderSectionAsync("Styles", required: false)
  <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="AI Assistant" />
  <link rel="manifest" href="/site.webmanifest" />
</head>
<body>
  @RenderBody()
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>