@page
<div class="main-content landing-centered">
  <div id="landing-message">
    <img src="/img/logo.png" class="logo" />
    <h1>Unauthorised</h1>
    <p>You do not have access to this service.</p>
  </div>
</div>