@page
@{
  var returnUrl = Request.Query["path"].FirstOrDefault();
}
<div class="main-content landing-centered">
  <div id="landing-message">
    <img src="/logo.png" class="logo" />
    <h1 class="brand">@Organisation.Instance.Name <span>AI</span></h1>
    <p>Our artificial intelligence assistant</p>
    <a href="/auth/login/challenge@(string.IsNullOrEmpty(returnUrl) ? string.Empty : $"?path={returnUrl}")" class="login-btn">
      <span class="material-symbols-rounded">login</span>
      Sign in with Microsoft
    </a>
  </div>
</div>